#dropdown{
    width: 35px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    left: 5px;
  }

 .isfp,.infp,.infj,.intp,.istp,.enfp,.intj,.istj{
  margin-top: 100px;
  max-width: 1000px;
  }
